.closing-game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.match-date-place-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-container,
.place-container,
.time-container {
    display: flex;
    flex-direction: column;
}

.date-label,
.place-label,
.time-label {
    font-weight: bold;
    font-size: 1.5em;
}

.final-score-arbitrators-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.arbitrators-container {
    width: max-content;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: start;
    gap: 1em;
}

.arbitrator-title {
    font-weight: bold;
    font-size: 1em;
}

.arbitrator-name {
    font-size: 1em;
}

.point-container,
.fouls-container,
.substitutes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
}

.point-title-container,
.fouls-title-container,
.substitutes-title-container,
.point-list-container > section,
.fouls-list-container > section,
.substitutes-list-container > section {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 30% 30% max-content;
    align-items: center;
    gap: 5%;
}

.point-list-container,
.fouls-list-container,
.substitutes-list-container {
    width: 100%;
}

.point-list-container > section,
.fouls-list-container > section,
.substitutes-list-container > section {
    margin-bottom: 0.5rem;
}


.arbitrators-container-min {
    grid-area: arbitrators;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

