.content {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.new-match-form {
    height: 100%;
    display: grid;
    grid-template-areas:
        "start-date place"
        "teams teams"
        "arbitrators arbitrators"
        "form-buttons form-buttons";
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

.start-date {
    grid-area: start-date;
}

.place {
    grid-area: place;
}

.teams-container {
    grid-area: teams;
    width: 75%;
}

.teams-container > .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.arbitrators-container {
    grid-area: arbitrators;
    width: 75%;
}

.arbitrators-container > .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.arbitrator-assistants-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-button-container {
    grid-area: form-buttons;
    gap: 15vw;
}
