.content {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.new-match-form {
    height: 100%;
    display: grid;
    grid-template-areas:
        "start-date place"
        "teams teams"
        "arbitrators arbitrators"
        "form-buttons form-buttons";
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

.update-match-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        width: 66%;
        min-width: 930px;
    }
}

.start-date {
    grid-area: start-date;
}

.place {
    grid-area: place;
}

.teams-container {
    grid-area: teams;
    width: 75%;
}

.teams-container > .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.update-entity-content,
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-content {
margin-top: 3rem;
}

.update-entity-content {
    form {
        width: 50% !important;
    }
}

#existing-coaches-container,
#existing-players-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 0 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.coach-select,
.player-select {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#coach-fields {
    width: 100%;
}
.arbitrators-container {
    grid-area: arbitrators;
    width: 75%;
}

.arbitrator-assistants-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-button-container {
    grid-area: form-buttons;
    gap: 15vw;
}

.update-team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.coach-team-players-container,
.coach-team-captains-container,
.coach-team-substitutes-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 0 4%;
}


.role-container > h4 {
    margin-bottom: 0px;
}

.substitute-entry-home,
.substitute-entry-away
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    margin-bottom: 1rem;
}

.coach-add-substitute-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
