.navbar {
    background-color: var(--blue-night);
    padding: 5px 50px;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 25px;
}

.nav-menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-menu-item:hover {
    transition: all 0.25s ease-out;
    color: var(--orange) !important;
    transform: scale(1.05);
    text-decoration: underline;
}

.nav-menu-item:active {
    transform: scale(0.95);
}

.nav-menu-item:visited {
    color: white;
    text-decoration: none;
}

.nav-menu-item > img {
    height: 3em;
}


.nav-menu-item-icon {
    display: flex;
    margin-top: 1px;
}
