.content {
    height: 100vh !important;
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
}

.content > div {
    padding: 0 !important;
}

.vertical-background {
    height: 100vh !important;
    background: linear-gradient(90deg, var(--orange) 50%, var(--blue-night) 50%);
}

.radial-background {
    position: fixed;
    left: 40vw;
    right: 40vw;
    height: 100vh;
    background: linear-gradient(to top right, var(--orange) 50%, var(--blue-night) 50%);
}

.part-container {
    flex: 1;
    display: grid;
    grid-template-areas:
        ". ."
        ". punchline"
        "leftPart rightPart"
        "homeMenu ."
        ". .";
    grid-template-rows: 0.5fr 1fr 3fr 1fr 0.5fr;
    grid-template-columns: 45vw 45vw;
    align-items: center;
    justify-items: center;
    position: relative;
}

.left-part {
    grid-area: leftPart;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: start;
    text-align: left;
}

.welcome-title {
    font-size: 6em;
    font-weight: 300;
    color: var(--white);
}

.app-title {
    font-family: 'Baloo2', sans-serif;
    font-size: 10em;
    font-weight: bolder;
    color: var(--blue-night);
}

.right-part {
    grid-area: rightPart;
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo {
    grid-area: rightPart;
    height: 50vh;
}

.punchline {
    grid-area: punchline;
    font-weight: 100;
    font-style: italic;
    font-size: 3em;
    color: white;
}

.home-buttons {
    grid-area: homeMenu;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2em;
    color: white;
}

a:visited {
    color: white;
}
