.content {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.making-team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.coach-team-players-container,
.coach-team-captains-container,
.coach-team-substitutes-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 0 4%;
}


.role-container > h4 {
    margin-bottom: 0px;
}

.substitute-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    margin-bottom: 1rem;
}

.coach-add-substitute-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
