
.content {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 25vh;
}

button[type="submit"] {
    margin: auto;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#login-form {
    width: 33%;
}
