
.main-menu {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}

.main-menu > a {
    width: 20vw !important;
}

button:active {
    transform: scale(0.95);
    box-shadow: inset var(--blue-night-shadow) 0px 0px 60px -12px;
}

a.custom-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button.x-small {
    height: fit-content;
    width: fit-content;
    padding: 6px 20px;
    font-size: 0.8em;
    text-wrap: nowrap;
}

.custom-button.small {
    height: fit-content;
    width: fit-content;
    padding: 8px 25px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 1em;
    svg {
        height: 2em;
    }
}

.custom-button.medium {
    height: fit-content;
    width: fit-content;
    padding: 20px 60px;
    font-size: 1em;
}


.custom-button {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 16px !important;
    display: block;
    border: 0px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: 0.25s;
}

.custom-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);

}

.custom-button:active {
    transform: scale(0.95);
}

.custom-button.orange {
    box-shadow: 0px 0px 14px -7px var(--orange-light);
    background-image: linear-gradient(45deg, var(--orange) 0%, var(--orange-light) 51%, var(--orange) 100%);
    border: 1px solid var(--orange-dark);
}

.custom-button.blue-night {
    box-shadow: 0px 0px 14px -7px var(--blue);
    background-image: linear-gradient(45deg, var(--blue-night) 0%, var(--blue) 51%, var(--blue-night) 100%);
    border: 1px solid var(--blue-light);

}

.coach-add-substitute-button,
.remove-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    color: var(--orange);
    cursor: pointer;
}

.coach-add-substitute-button > svg,
.remove-button > svg {
    width: 2.5rem;
}
