/* ************ */
/*   All-CARDS  */
/* ************ */

.card {
    box-shadow: 0 4px 8px 0 var(--orange-shadow);
    transition: 0.3s;
    border-radius: 16px;
    padding: 25px;
    margin: 1rem 10px 2rem 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.card:hover {
    box-shadow: 0 8px 16px 0 var(--orange-shadow);
}

.card-title {
    margin: 0 0 1em 0;
    padding: 0;
}

.card-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    align-items: start;
    justify-items: start;
    gap: 1em;
    overflow: scroll;
    max-height: 100%;
}

.card-grid > .card {
    width: calc(100% - 50px);
    height: 25vh;
    min-height: 320px;
}

.card.clickable {
    padding: 25px 25px 0 25px;
    border: 1px solid var(--orange);
}

.card.clickable > .card-content {
    padding-bottom: 25px;
}

.card-date-container {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-location-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        "gym city"
        "adress adress";
    grid-template-rows: 3.5em 2em;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

.card-location-gym {
    grid-area: gym;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: var(--orange);
}

.card-location-address {
    grid-area: adress;
}

.card-location-city {
    grid-area: city;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--blue-night);
}

.card-home-franchise-logo {
    height: 100%;
    grid-area: homeLogo;
}

.card-home-franchise-logo > .franchise-logo {
    height: 100%;
}

.card-home-franchise-title {
    grid-area: homeTitle;
}

.card-franchise-title {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.card-away-franchise-logo {
    height: 100%;
    grid-area: awayLogo;
}

.card-away-franchise-logo > .franchise-logo {
    height: 100%;
}

.card-away-franchise-title {
    grid-area: awayTitle;
}

/* ************ */
/* * VS-CARDS * */
/* ************ */

.vs-card-text {
    grid-area: vs;
    font-size: 2em;
    font-weight: 600;
    color: var(--orange);
}

.vs-card-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        "homeLogo homeLogo . awayLogo awayLogo"
        "homeLogo homeLogo vs awayLogo awayLogo"
        "homeTitle homeTitle . awayTitle awayTitle";
    grid-template-rows: 2em 2em 2em;
    align-items: center;
    justify-items: center;
}

.vs-card > .card-content {
    width: 90%;
    height: 90%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ************ */
/* CARD-ACTIONS */
/* ************ */

.card-actions {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

.card-action-button {
    transition: 0.25s;
    padding: 4px 0px !important;
    border-radius: 0px !important;
}

.card-action-button:hover {
    cursor: pointer;
    margin-top: -20px;
    padding: 13px 0 !important;
}

.main-button.card-action-button {
    border: 1px solid var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-night);
    background-color: white;
}

.main-button.card-action-button:hover {
    background: white;
    color: var(--orange);

}

.main-button.card-action-button:active {
    box-shadow: inset var(--orange) 0 0px 30px -12px;
}

.secondary-button.card-action-button {
    border: 1px solid var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--orange);
}

.secondary-button.card-action-button:hover {
    color: white;
    background-color: var(--orange);
}

.secondary-button.card-action-button:active {
    box-shadow: inset var(--orange) 0 0px 30px -12px;
}

.danger-button.card-action-button {
    border: 1px solid var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
}

.danger-button.card-action-button:hover {
    background: red;
    color: white;
}

.danger-button.card-action-button:active {
    box-shadow: inset var(--blue-night) 0 0px 30px -12px;
}

/* 1 action */
.one-action.card-actions {
    grid-template-columns: 100%;
}

.one-of-one-action.main-button.card-action-button {
    width: calc(100% + 26px + 26px);
    margin-left: -26px;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.one-of-one-action.main-button.card-action-button:hover {
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
}

/* 2 actions */

.two-actions.card-actions {
    grid-template-columns: 50% 50%;
}

.two-actions.card-actions.ninety-ten {
    grid-template-columns: 90% 10%;
}

.one-of-two-action.main-button.card-action-button {
    width: calc(100% + 26px);
    margin-left: -26px;
    border-bottom-left-radius: 16px !important;
}

.one-of-two-action.main-button.card-action-button:hover {
    border-top-right-radius: 16px !important;
}

.two-of-two-action.secondary-button.card-action-button,
.two-of-two-action.danger-button.card-action-button {
    width: calc(100% + 26px);
    margin-left: -1px;
    margin-right: -27px;
    border-bottom-right-radius: 16px !important;
}

.two-of-two-action.secondary-button.card-action-button:hover,
.two-of-two-action.danger-button.card-action-button:hover {
    border-top-left-radius: 16px !important;
}


/* 3 actions */

.three-actions.card-actions {
    grid-template-columns: 45% 45% 10%;
}

.one-of-three-action.main-button.card-action-button {
    width: calc(100% + 26px);
    margin-left: -26px;
    border-bottom-left-radius: 16px !important;
}

.one-of-three-action.main-button.card-action-button:hover {
    border-top-right-radius: 16px !important;
}

.two-of-three-action.secondary-button.card-action-button,
.two-of-three-action.danger-button.card-action-button {
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
}

.two-of-three-action.secondary-button.card-action-button:hover,
.two-of-three-action.danger-button.card-action-button:hover {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.three-of-three-action.secondary-button.card-action-button,
.three-of-three-action.danger-button.card-action-button {
    width: calc(100% + 26px);
    margin-left: -1px;
    margin-right: -27px;
    border-bottom-right-radius: 16px !important;
}

.three-of-three-action.secondary-button.card-action-button:hover,
.three-of-three-action.danger-button.card-action-button:hover {
    border-top-left-radius: 16px !important;
}

/* ************ */
/*  SCORE-CARDS */
/* ************ */

.score-card > .card-content {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-areas:
        "homeLogo homeScore"
        "awayLogo awayScore";
    grid-template-rows: 5em 5em;
    align-items: center;
    justify-items: center;
    gap: 1em;
}

/* ************ */
/* DETAIL-CARDS */
/* ************ */

.detail-card {
    width: 95%;
}

.detail-card > .card-content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
}

.detail-card-content-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.detail-card-content-part-title {
    margin-left: -2rem;
    text-decoration: underline;
}

.detail-card-content-part-content {
    width: 100%;
}
