:root {
    --orange: #F95500;
    --orange-shadow: rgba(249,85,0,0.2);
    --orange-light: #f09819;
    --orange-dark: #9a3500;
    --grey-light: #f1f1f1;
    --blue: #3b417c;
    --blue-light: #6070fc;
    --blue-night: #080A1E;
    --blue-night-shadow: rgba(8, 10, 30, 0.5);
    --white: #FFFFFF;
}
