/* ----------------------------------------------------------- */
/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-Thin.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/inter/static/Inter-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}


/* ----------------------------------------------------------- */
/* Baloo2 */

@font-face {
    font-family: 'Baloo2';
    src: url('../../assets/fonts/baloo2/Baloo2-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('../../assets/fonts/baloo2/Baloo2-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('../../assets/fonts/baloo2/Baloo2-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('../../assets/fonts/baloo2/Baloo2-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('../../assets/fonts/baloo2/Baloo2-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}
