
form {
    display: inline-block;
    width: 100%;
    height: min-content;
}

.form-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 1em;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

input[type="text"].min-size,
input[type="number"].min-size {
    width: 40%;
    padding: 5px 20px;
}

button[type="submit"] {
    background-color: var(--orange);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: var(--orange);
}

.password-toggle {
    color: var(--orange);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    color: var(--orange);
    display: none;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .login-section {
        padding: 20px 10px;
    }

    form {
        max-width: 100%;
    }
}


/* ************ */
/* ** INPUTS ** */
/* ************ */


select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    background-color: #f1f1f1;
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select-container {
    position: relative;
    display: flex;
    min-width: 200px;
    width: 100%;
    height: 2em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select-container::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.35em;
    transition: .25s all ease;
    pointer-events: none;
    color: var(--orange);
}

/* Transition */
.select-container:hover::after {
    color: var(--orange-dark);
}

[type="date"],
[type="datetime-local"] {
    border-radius: 0.25em;
    height: 2em;
    padding: 0 0 0 15px;
    border: 0px;
    width: calc(20em - 15px);
    background: #f1f1f1;
}

input[type="date" i],
input[type="datetime-local" i] {
    width: 160px;
    font-family: 'Inter', sans-serif;
}

[type="date"]::-webkit-calendar-picker-indicator,
[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(30%) sepia(76%) saturate(1882%) hue-rotate(3deg) brightness(109%) contrast(101%);
    height: 16px;
    width: 24px;
    cursor: pointer;
}

.time-input {
    width: 3.5rem;
}

.name-input {
    width: 100%
}

