body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    height: calc(95% - 20px);
    display: flex;
    padding: 5px 25px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.content > h1 {
    height: 5%;
    margin: 20px 0;
}

.content > div {
    height: calc(100% - 5px - 40px);
    width: 100%;
    padding-right: 25px;
    overflow: auto;
}

.content-justify-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row {
    flex-direction: row;
}

.flex-fill {
    flex: 1;
    display: flex;
}

.hidden {
    display: none !important;
}

h1 {
    font-family: 'Baloo2', sans-serif;
    color: var(--orange);
    font-size: 2.5em;
    font-weight: 900;
}

h2 {
    font-family: 'Baloo2', sans-serif;
    color: var(--orange);
    font-size: 2.3em;
    font-weight: 800;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--grey-light);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--orange-dark);
}
