.no-data-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.no-data-icon > svg {
    width: auto;
    height: 4.5em;
    color: var(--orange);
}

.no-data-message {
    font-family: 'Baloo2', sans-serif;
    font-size: 2.5em;
    color: var(--blue-night);
}

table {
    width: max-content;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 25px var(--orange-shadow);
}

table.min-shadow {
    width: max-content;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 5px var(--orange-shadow);
}

th {
    text-align: left;
}

thead {
    th {
        color: var(--orange);
        background-color: white;
        padding: 15px;
        text-decoration: underline;
        font-weight: 900;
    }
}

tbody {
    tr {
        &:hover {
            background-color: var(--orange-shadow);
            transform: scale(1.02);
        }
    }
    td {
        position: relative;
        padding: 5px 15px;
        background-color: rgba(255,255,255,0.2);
        color: var(--blue-night);
    }
}

.table-btn {
    background: none !important;
}

.add-btn-table {
    margin: 0;
    padding: 5px 15px !important;
}

.table-btn.primary {
    color: var(--orange) !important;
}

.table-btn.primary:hover {
    background-color: var(--orange) !important;
    color: white !important;
}

.table-btn.danger {
    color: red !important;
}

.table-btn.danger:hover {
    background-color: red !important;
    color: white !important;
}

